<div class="sidebar-header text-center my-5 text-white">
  <%= image_tag current_user.image.url, class:"w-50 d-block mx-auto rounded-circle"%>
  <hr>
  <h2><%= current_user.name %></h2>
</div>
<ul class="nav sidebar-nav">
    <li class ='custom_nav_item pl-4 my-3'><i class="fas fa-piggy-bank p-4"></i><%= link_to 'All my savings', savings_path, class:'text-white' %></li>
    <li class='custom_nav_item pl-4 my-3'><i class="fas fa-tasks p-4"></i><%= link_to 'Savings with no project', savings_no_project_path, class: 'text-white' %></li>
    <li class='custom_nav_item pl-4 my-3'><i class="fas fa-user-friends p-4"></i><%= link_to 'All my projects', projects_path, class: 'text-white' %></li>        
</ul>