<section class = 'w-100 p-3'>
  <h3>Total amount of savings: <span><%= number_to_currency(@total_savings) %></span></h3>
</section>

<section class='list_savings p-3'>
  <% unless @savings.empty? %>
    <% @savings.each do |saving| %>
      <div class='w-100 d-flex flex-row shadow rounded justify-content-between my-3'>
        <div class="image-group">
          
        </div>
        <div class="d-flex flex-column justiy-content-between">
          <p class="saving_name"><%= saving[:name] %></p>
          <p class="saving_date"><%= saving[:date] %></p>
        </div>
        <div class="amount">
          <%= number_to_currency(saving[:amount]) %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>You currently have no savings related to a project</p>
    <%= link_to "Add a saving to a project", savings_no_project_path, class:'btn btn-success w-75 py-3 my-5 mr-auto'%>
  <% end %>
</section>

<%= link_to "Add a saving", new_saving_path, class:'btn btn-success w-100 px-3 py-4 m-4'%>