<% @page_name = 'PROJECTS' %>

<div class="<%= controller.action_name %>">
    <section class = 'col-12 p-0'>

      <div class = 'bg-white p-5'>
        <h3>My Projects</h3>
      </div>
      <div class='d-flex flex-column justify-content-around my-3'>
        <% unless @user_projects.empty? %>
          <% @user_projects.each do |project| %>
            <div class='d-flex justify-content-between my-3 bg-white rounded p-5 shadow'>
              <% unless project[:img].nil? %>
                <div class='d-flex flex-column align-items-start p-3'>
                  <%= link_to (image_tag project[:img], class:'profile text-white').html_safe, project_path(id: project[:id]) %>   
                </div>
              <% end %>
              <div class="d-flex flex-column justify-content-between align-items-start p-3">
                <p><%= project[:name] %></p>
                <p><%= project[:date] %></p>
              </div>
              <div class="d-flex flex-column justify-content-between align-items-start p-3">
                <p>Goal: <%= number_to_currency(project[:goal], precision: 0) %></p>
                <p>Saved: <%= number_to_percentage(goal_completed(project), precision: 0) %></p>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class='d-flex justify-content-between my-3 bg-white rounded p-5 shadow'>
            <p>No projects registered</p>
          </div>
        <% end %>
      </div>

      <div class = 'bg-white p-5'>
        <h3>Other Projects</h3>
      </div>
      <div class='d-flex flex-column justify-content-around my-3'>
        <% unless @other_projects.empty? %>
          <% @other_projects.each do |project| %>
            <div class='d-flex justify-content-between my-3 bg-white rounded p-5 shadow'>
              <% unless project[:img].nil? %>
                <div class='d-flex flex-column align-items-start p-3'>
                  <%= link_to (image_tag project[:img], class:'profile text-white').html_safe, project_path(id: project[:id]) %>   
                </div>
              <% end %>
              <div class="d-flex flex-column justify-content-between align-items-start p-3">
                <p><%= project[:name] %></p>
                <p><%= project[:date] %></p>
              </div>
              <div class="d-flex flex-column justify-content-between align-items-start p-3">
                <p>Goal: <%= number_to_currency(project[:goal], precision: 0) %></p>
                <p>Saved: <%= number_to_percentage(goal_completed(project), precision: 0) %></p>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class='d-flex justify-content-between my-3 bg-white rounded p-5 shadow'>
            <p>No projects registered</p>
          </div>
        <% end %>
      </div>

      <%= link_to "Create a Project", new_project_path, class:'btn btn-success w-100 px-3 py-4 my-3'%>
    </section>
</div>