<!DOCTYPE html>
<html>
  <head>
    <title>Piggy App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= favicon_link_tag 'piggy_icon.svg' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body class = 'wrapper'>

    <% if logged_in? %>

      <nav id="sidebar">
      
        <div id="dismiss">
          <i class="fas fa-arrow-left"></i>
        </div>

        <div class="sidebar-header">
            <h3>Welcome <%= current_user.name %></h3>
        </div>

        <div class="sidebar" id='navbarToggler'>
          
          <p> Nombre de usuario</p>
          <ul class='navbar-nav mr-auto'>
            <li>All my Savings</li>
            <li>All my savings without project</li>
            <li>All My Projects</li>
            <li>All Projects</li>
          </ul>
        </div>
      </nav>

    <% end %>
    
    <main class="mx-auto <%= controller.controller_name %>" >
      <%= yield %>
    </main>
  </body>
</html>
