<!DOCTYPE html>
<html>
  <head>
    <title>Piggy App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= favicon_link_tag 'piggy_icon.svg' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/4c68ce4f85.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  </head>

  <body id='main'>  

    <% unless no_navbar %>
      <nav class = 'navbar py-3'>
        <%= left_icon %>
        <span class = 'mx-auto'> prueba </span>
      </nav>
    <% end %>

    <main class='container-fluid <%= controller.controller_name %>' >
        <%= yield %>
    </main>
  </body>
</html>
