<!DOCTYPE html>
<html>
  <head>
    <title>Piggy App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= favicon_link_tag 'piggy_icon.svg' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/4c68ce4f85.js" crossorigin="anonymous"></script>
  </head>

  <body>  

    <% unless no_navbar %>
      <nav class = 'navbar'>
        <%= left_icon %>
        <span>Title Section</span>
      </nav>
    <% end %>

    <main id='container-fluid <%= controller.controller_name %>' >
        <%= yield %>
      </div>
    </main>
  </body>
</html>
